.borda {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    width: 50rem;
    height: 28rem;
    border: 1px solid;
    border-image: linear-gradient(90deg, #009BF2 0%, #0064FA 100%);
    border-image-slice: 1;
}

.titulo {
    width: 45rem;
    height: 2rem;
    color: #FFF;
    font-size: 24px;
}

.lista{
    display: flex;
    height: 20rem;
    width: 45rem;
    max-width: 50rem;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 1rem;
    padding-left: 1rem;
    border: 1px solid;
    border-image: #2A2A2A;
}

.item {
    width: 5rem;
    height: 5rem;   
    flex-shrink: 0;
    background: #2A2A2A;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.item:hover {
    transform: scale(1.2);
    border: 5px solid;
    border-image: linear-gradient(90deg, #009BF2 0%, #0064FA 100%);
    border-image-slice: 1;
}