.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: #FFF;
    width: 20rem;
    height: 46.5rem;
    border: 1px solid;
    border-image: linear-gradient(90deg, #009BF2 0%, #0064FA 100%);
    border-image-slice: 1;
}

.box{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
padding-top: 5rem;
}
.name{
    font-size: 32px;
}
.ranking{
    font-size: 20px;

}
.text{
    font-size: 32px;
    color: #00A3FF;
}

.imagem{
    width: 16rem;
    height: 16rem;
    border-radius: 10rem;
    margin-bottom: 2rem;
}