.bg{
    background-color: #171717;
}

.grid{
    display: grid;
    grid-template-areas: 
    "estudo estudo em-breve"
    "em-breve2 em-breve3 em-breve";
    gap: 16px;
    min-height: calc(100vh - 37px );
    color: white;
    padding: 80px 0;
}

.estudo{
    text-align: center;
    grid-area: estudo;
    display: block;
}

.estudo2{
    height: 100%;
    
}

.emBreve{
    grid-area: em-breve;
}

.emBreve2{
    grid-area: em-breve2;
    
}

.emBreve3{
    grid-area: em-breve3;
    
}